
/* LOGIN PAGE  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
#bodystart {
 
    background: url("/soul.jpeg");
    height: 100vh;
    min-height: 600px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation-delay: 4s; */
    /* animation: slider 20s linear infinite; */
    
}

@keyframes slider {
    0%{
        background-image: url("/BG4.jpg");
    }
    30%{
        background-image: url("/BG3.jpg");
    }
    70%{
        background-image: url("/BG1.jpg");
    }
    100%{
        background-image: url("/BG2.jpg");
    }
}

.social a:hover{
    background-color:transparent;
}
.p {
    position: relative;
    color: rgb(198, 176, 176);
    font-size: 20px;
    font-weight: bold;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    left: 5px;
}
.p a{
    color: white;
    /* border: 1px solid black; */
  
}
.p a:hover{
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    background:linear-gradient(67.91deg, #8A63DA 12.2%, #DDD888 99.67%);
    transition: 0.5s ease-in-out;
}
.topHeader {
    font-size: 30px;
    position: relative;
    left: 40px;
    bottom: 20px;
    font-weight: bold;
    color: white;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: Comic Sans Ms; */
}

.formbox {
    display: flex;
    position: relative;
    padding: 50px 100px 40px 100px;
    width: 300px;
    height: 300px;
/*     min-height: 430px; */
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid white; */
    /* background-color: rgba(0,0,0,0.5); */
    box-shadow: 0px 0px 25px white;
    /* box-shadow: 0 6px 25px rgba(0,0,0,0.5); */
    border-radius: 20px;
    backdrop-filter: blur(15px);
}

.formcontainer {
    display: flex;
    /* height: 30px; */
    flex-direction: column;
}

.inputtext {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0 0 0 20px;
    opacity: 90%;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 254, 254, 0.5);
}

.red{
    color: rgb(206, 186, 186);
    font-weight: bold;
    font-size: 17px;
}
::-webkit-input-placeholder {
    color: rgb(42, 41, 41);
}

/* ::-webkit-input-placeholder :hover{
    transform:translateY(23px);
} */


.l {
    position: relative;
    top: -29px;
    right: 20px;
    font-weight: bold;
    color: black;
}

.submitButton {
    height: 40px;
    width: 106%;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    /* font-family: Comic Sans Ms; */
    background: linear-gradient(67.91deg, #051A47 12.2%, #77343C 99.67%);
}

#forgotpw {
    position: relative;
    color: rgb(232, 244, 214);
    font-size: 20px;
    font-weight: bold;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    left: 35px;
}

.i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
#forgotpw:hover {
    background-color: transparent;
    cursor: pointer;
    color:rgba(255, 255, 255,0.5);
    transform: scale(1.1) translateX(20px);
    transition: 0.5s ease-in-out;
}
.topHeader h1{
    margin: 10px;
}

@media(max-width:400px){
    .social i{
        /* border: none; */
        margin: 30px 3px 30px 3px;
    }
    .topHeader{
        font-size: 22px;
        position: relative;
        left: 50px;
    }
    .formbox{
        padding: 50px 60px 40px 40px;
    }
    .p{
        font-size: 17px;
        left: 15px;
    }
    #forgotpw{
        margin-top: 8px;
        font-size: 17px;
        left: 50px;
    }
}

.Button:hover {
    cursor: pointer;
    background:linear-gradient(67.91deg, #8A63DA 12.2%, #DDD888 99.67%);
    color: black;
}

@media(max-width:500px) {
    .formbox {
        /* height: 70vh; */
        width: 70vw;
        min-height: 400px;
        border: none;
        /* backdrop-filter: blur(5px); */
        /* padding: 50px 70px 40px 70px; */
    }

}

@media(max-width:1486px) {
    .button {
        margin-top: 20px;
       
    }
}

/* @media(max-width:1374px) {
    .nav {
        margin-top: 20px;
        margin-left: 1px;
    }
} */
